<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "créer une lesson", new_lesson_path, class:"btn btn-info" %>
<%= link_to "créer un tag", new_label_path, class:"btn btn-info" %>

<%= link_to "voir les lessons", lessons_path, class:"btn btn-info" %>
