<section class="background">
  <div class="container">
  </div>
</section>
<br><br>
<div class="container">
  <div class="row">
    <h3><strong>Mes technologies:</strong></h3>
    <div class="col-xs-12 text-center">
      <%= image_tag "technologies.png", width:800 %><br><br>

    </div>
  </div>
  <div class="row">
      <h3><strong>Mon fonctionnement:</strong></h3>
      <p>Des étapes pour un projet livré conforme et réussi</p>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-4">
      <%= image_tag "needs.png", width:100 %><br><br>
      <strong>Formalisation et Recueil des besoins</strong><br>
      Bien comprendre les besoins métiers pour répondre aux mieux avec du digital
    </div>
    <div class="col-xs-4">
      <%= image_tag "notebook.png", width:100 %><br><br>
      <strong>Validation des fonctionnalités et du cahier des charges</strong><br>
      Proposer une réponse adéquates aux spécificités du projet
    </div>
    <div class="col-xs-4">
      <%= image_tag "tests.png", width:100 %><br><br>
      <strong>Tests et Livraisons</strong><br>
      Assurer la bonne livraison du projet
    </div>
  </div>
</div>
