<div class="container">
  <h3>2. Cloner son repo Github</h3>
  <div class="col-xs-12 col-md-8">
    https://stackoverflow.com/questions/10963878/how-do-you-fork-your-own-repository-on-github
    Puis:
    https://services.github.com/on-demand/github-cli/clone-repo-cli
    Puis le deploy sur heroku
    Ne pas oublier le db:migrate, de changer les API sur heroku et en local, et dans confi/environment/production et saisir l’url heroku dans:
    config.action_mailer.default_url_options = { host: "XXXXXXX" }
    <div class="col-xs-12 col-md-4">
    </div>
  </div>
</div>
