<div class="container">
  <h3>Creer un formulaire</h3>
  <div class="col-xs-12 col-md-5">
En simple_form, il n’y a qu’un type de balise: input qui reconnaît automatiquement l’attribut alors qu’en form_for on doit specifier:(text_field…number_field… et il n’y a pas besoin de label avec simple_form. Enfin Simple_form met automatiquement les classes bootstrap à notre place ( (form-group..form-control). Pour celà il faut que la gem simple_form soit installée et la config set-up de la gem installée.  exemple si on souhaite améliorer le simple_form:
 <h4>Ajouter une checkbox dans le formulaire avec multi-citères</h4>
 exmple pour créer des tags

https://rubyplus.com/articles/3191-Has-Many-Through-Checkboxes-in-Rails-3-x-4-x-and-5
 il faut aussi créer le modèle en question et lui faire un scaffol pour pouvoir créer les catégories.

  </div>
 <div class="col-xs-12 col-md-7">
  </div>
  </div>
