.box-shadow {
  width: 0,5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #3c6382;
  opacity:0.9;
  text-align: center;
   color: black;
  .h1, h2, h3, h4, h5 {
     color: white;
  }
}

// Homepage bakground image
.background  {
  background-image: url('background.jpg');
  //background-color: grey;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 50vh;
  color: purple;
}

section {
padding-top: 4rem;

}

ul{
     list-style:none;
}

.background-purple  {
background-color: purple;
opacity: 0.8;
color: black;
}
