// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";
@import "general";
@import "cards";


@media screen and (max-width: 600px) {
  #hidden-mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (min-width: 601px) {
  #hidden-desktop {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
